*.pyc
*.wsgi
/philsite/log/*
!/philsite/log/.gitkeep
/philsite/project_gavbot/saved_gavbots/*
!philsite/project_gavbot/saved_gavbots/.gitkeep
/philsite/project_gavbot/log/*
/philsite.egg-info/*
/philsite/project_neural/static/diagrams/*
!/philsite/project_neural/static/diagrams/.gitkeep
run_app.sh
