<!DOCTYPE HTML>
<html>

<head>
  <title>Neural Net Generator</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="neural_static/styles/style.css" />
<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a>Neural Nets</a></h1>
        </div>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      <div id="sidebar_container">
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <!-- insert your sidebar items here -->
            <h3>Generate New Net</h3>
            <form action="/neural_net/new_net" method="post">
              <div class="input_div">
                <p class="neural_input_names">Inputs: </p>
                <input class="neural_inputs" name="inputs" type="text"></input>
              </div>
              <div class="input_div">
                <p class="neural_input_names">Outputs: </p>
                <input class="neural_inputs" name="outputs" type="text"></input>
              </div>
              <div class="input_div">
                <p class="neural_input_names">Hidden Layers: </p>
                <select class="neural_inputs" name="hidden_layers">
                  <option value=0>0</option>
                  <option value=1>1</option>
                  <option value=2>2</option>
                </select>
              </div>
              <div class="input_div">
                <p class="neural_input_names">Neurons per Layer: </p>
                <input class="neural_inputs" name="hidden_neurons" type="text"></input>
              </div>
              <input class="input_button" type="submit" value="Generate"></input>
            </form>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar_base"></div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3> Propagate Data </h3>
              <form action="/neural_net/propagate" method="post">
                <div class="input_div">
                <p class="neural_input_names">Inputs: </p>
                {% for i in range(network.neurons[0]|length) %}
                  <input class="data_inputs" name="{{ "input_" + i|string }}" type="text"></input>
                {% endfor %}
                </div>
              <input class="input_button" type="submit" value="Propagate"></input>
            </form>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3> Darwinian Trainer </h3>
            <form action="/neural_net/darwin_train" method="post">
              <div class="input_div">
              <p class="neural_input_names">Repititions: </p>
                <input class="data_inputs" name="repititions" type="text"></input>
              </div>
            <input class="input_button" type="submit" value="Train"></input>
            </form>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Training Data</h3>
            <table class="data_table">
              <tr>
                <th><b>Inputs</b></th>
                <th><b>Outputs</b></th>
              </tr>
              {% if training_data.data|length > 0 %}
                {% for datum in training_data.data %}
                  <tr>
                    <th> {{ datum [0] }} </th>
                    <th> {{ datum [1] }} </th>
                  </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <th></th>
                  <th></th>
                </tr>
              {% endif %}
            </table>
            <form action="/neural_net/clear_data" method="get">
              <input class="input_button" type="submit" value="Clear Data"></input>
            </form>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Add Training Data</h3>
            <form action="/neural_net/new_data" method="post">
              <div class="input_div">
                <p class="neural_input_names">Inputs: </p>
                {% for i in range(network.neurons[0]|length) %}
                  <input class="data_inputs" name="{{ "input_" + i|string }}" type="text"></input>
                {% endfor %}
              </div>
              <div class="input_div">
                <p class="neural_input_names">Outputs: </p>
                {% for i in range(network.neurons[-1]|length) %}
                  <input class="data_inputs" name="{{ "output_" + i|string }}" type="text"></input>
                {% endfor %}
              </div>
              <input class="input_button" type="submit" value="Add Data"></input>
            </form>
          </div>
          <div class="sidebar_base"></div>
        </div>
      </div>
      <div id="content">
        <img src="/neural_static/diagrams/plot.png"
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      <p>Copyright &copy; simplestyle_4 | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a></p>
    </div>
  </div>
</body>
</html>
