body {
  background-color: black;
  margin: 0px;
  height: 99vh;
  width: 99vw;
}

.leftBufferDiv {
  display: inline-block;
  width: 25vw;
}

.headerDiv {
  display: inline-block;
  background-color: black;
  color: lightgreen;
  height: 15%;
  width: 100%;
  margin: 0 0 0 0;}

#title
{ float: left;
  width: 50%;
  height: 100%;
  margin-left: 25%;}

#title h1, #title h3
{ text-align: center;}

#about
{ float: right;
  width: 25%;
  height: 100%;
  position: relative;}

#about h3
{ position: absolute;
  bottom: 0;
  right: 30%;}

#content
{ background-color: black;
  min-height: 550px;
  height: 85%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}


.topDiv {
  display: inline-block;
  width: 97.5%;
  height: 7%;
  background-color: lightgreen;
  padding: 10px 1% 10px 1%;
  border-style: groove;
}


.wikiFormInput {
  width: 80%;
  font-size: x-large;
}

.wikiFormButton {
  float: right;
  width: 15%;
  font-size: x-large;
}

.song_div {
  height: 85%;
  width: 100%;
  margin-top: 5px;
}

.leftDiv {
  width: 20%;
  height: 100%;
  float: left;
  background-color: lightgreen;
  border-style: groove;
}

.chain {
  background-color: white;
  height: 97%;
  border: 2px solid black;
  margin: 5px;
  overflow: scroll;
}

.rightDiv {
  height: 100%;
  width: 78%;
  float: left;
  background-color: lightgreen;
  border-style: groove;
  float: right;
  text-align: left;
}

.lyrics {
  background-color: white;
  height: 97%;
  border: 2px solid black;
  margin: 5px;
  overflow: scroll;
}
