body  {
  background: DarkGoldenRod;
}

.leftSide {
  display: inline-block;
  box-sizing: border-box;
  height: 95vh;
  width: 40vw;
  vertical-align: bottom;
}

.infoBoxDiv {
  display: inline-block;
  box-sizing: border-box;
  height: 95vh;
  width: 50vw;
  vertical-align: bottom;
}

.infoBox {
  background: white;
  white-space: pre-wrap;
  border: 5px solid black;
  box-shadow: 10px 10px 5px black;
  height: 95%;
  padding: 2vh 2vw;
  font-size: 15px;
  overflow: scroll;
}

.headerBoxOne {
  box-sizing: border-box;
  padding: 0px 10px 0px 10px;
  background: white;
  border: 3px solid black;
  box-shadow: 10px 10px 5px black;
  font-weight: bold;
  font-size: 30px
}

.headerBoxTwo {
  box-sizing: border-box;
  padding: 0px 10px 0px 10px;
  background: white;
  border: 3px solid black;
  box-shadow: 10px 10px 5px black;
  font-weight: bold;
  font-size: 20px
}
