body {
  background-color: lightgreen;
}

.leftBufferDiv {
  display: inline-block;
  width: 25vw;
}

.headerDiv {
  display: inline-block;
  left: 25vw;
  width: 50vw;
}

.rightBufferDiv {
  display: inline-block;
  width: 20vw;
}

.topDiv {
  display: inline-block;
  width: 97vw;
  /*border: 5px solid red;*/
}


.wikiFormInput {
  width: 80%;
  font-size: x-large;
}

.wikiFormButton {
  float: right;
  width: 15%;
  font-size: x-large;
}

.leftDiv {
  display: inline-block;
  width: 20vw;
  height: 75vh;
  /*border: 5px solid red;*/
}

.chain {
  background-color: white;
  height: 95%;
  border: 2px solid black;
  box-shadow: 10px 10px 5px black;
  overflow: chain
}

.rightDiv {
  display: inline-block;
  float: right;
  text-align: left;
  width: 75vw;
  height: 75vh;
  /*border: 5px solid red;*/
}

.lyrics {
  float: left;
  background-color: white;
  height: 95%;
  width: 95%;
  border: 2px solid black;
  box-shadow: 10px 10px 5px black;
  overflow: scroll;
}
