body {
  background-color: black;
  margin: 0px;
}

.leftBufferDiv {
  display: inline-block;
  width: 25vw;
}

.headerDiv {
  display: inline-block;
  background-color: black;
  color: lightgreen;
  height: 120px;
  width: 100%;
  margin: 0 0 0 0;}

#title
{ float: left;
  width: 50%;
  height: 100%;
  margin-left: 25%;}

#title h1, #title h3
{ text-align: center;}

#about
{ float: right;
  width: 25%;
  height: 100%;
  position: relative;}

#about h3
{ position: absolute;
  bottom: 0;
  right: 30%;}

#content
{ background-color: white;
  min-height: 550px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;}

.topDiv {
  display: inline-block;
  width: 90%;
  background-color: lightgreen;
  padding: 10px 5px 10px 5px;
  border-style: groove;
  margin: 0 5% 0 5%;
  /*border: 5px solid red;*/
}


.wikiFormInput {
  width: 80%;
  font-size: x-large;
}

.wikiFormButton {
  float: right;
  width: 15%;
  font-size: x-large;
}

.leftDiv {
  display: inline-block;
  width: 20%;
  height: 80%;
  /*border: 5px solid red;*/
}

.chain {
  background-color: white;
  height: 95%;
  border: 2px solid black;
  box-shadow: 10px 10px 5px black;
  overflow: chain
}

.rightDiv {
  display: inline-block;
  float: right;
  text-align: left;
  height: 100%;
  width: 75%;
  /*border: 5px solid red;*/
}

.lyrics {
  float: right;
  background-color: white;
  height: 95%;
  width: 95%;
  border: 2px solid black;
  box-shadow: 10px 10px 5px black;
  overflow: scroll;
}
