html{height: 100%;}

body
{ font-family: "lucida sans", arial, sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: .85em;
  /*background: #F6F4F0;*/
  color: #635B53;
  background: AntiqueWhite;}

p
{ margin: 0px;
  padding: 0px 0px 5px 0px;
  line-height: 1.7em;}

h1, h3
{ text-transform: uppercase;
  margin: 0px 0px 20px 0px;
  padding: 5px 20px 5px 0px;
  border-bottom: 1px solid #CCC6B4;}

#content h1
{ text-align: center;
  color: #262626;
  /*font-size: 250%;*/
}

img
{ border: 0px;
  margin: 0px;
  padding: 0px;}

a
{ outline: none;}

form
{ padding: 0;
  margin: 0;}

.left
{ float: left;
  margin-right: 10px;}

.right
{ float: right;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
/  margin: 0 auto;}

blockquote
{ margin: 20px 0px 20px 0px;
  padding: 10px 20px 0px 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

ol
{ margin: 8px 0px 0px 24px;
  padding: 0px;}

ol li
{ margin: 0px 0px 11px 0px;
  padding: 0px;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto;
  margin-right: auto;}

#header
{ background: url(back.png) repeat-x;}

#logo
{ width: 1000px;
  height: 127px;
  position: relative;}

#logo #logo_text
{ position: absolute;
  bottom: 25px;
  height: 50px;}

#logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0 0 0 9px;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover
{ padding: 22px 0 0 0;
  letter-spacing: 0.1em;
  text-decoration: none;}

.index
{ color: #777}

.logo_colour
{ color: #00C5EE}

.logo_colour:hover
{ color: #777}

#logo_text h2
{ font-size: 120%;
  /*color: #BBB;*/
  padding: 4px 0 0 0;}

#logo h1, #logo h2
{ margin: 0;
  font-family: "century gothic", arial, sans-serif;}

#logo h1
{ font-size: 400%;
  padding: 22px 0px 0px 0px;
  color: #777;}

#logo h2
{ font-size: 120%;
  padding: 4px 0px 0px 0px;
  color: #BBB;}

#logo a
{ border: none;}

#menubar
{ width: 870px;
  height: 46px;
  padding-top: 4px;
  padding-left: 4px;}

ul#menu
{ float: right;
  margin: 0px;}

ul#menu li
{ float: left;
  margin: 5px 0 0 0;
  padding: 0 0 0 6px;
  list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font-family: serif;
  font-size: 100%;
  display: block;
  float: left;
  height: 20px;
  text-decoration: none;
  padding: 9px 22px 5px 16px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  border: none;}

ul#menu li.selected a
{ height: 20px;
  padding: 7px 22px 4px 16px;}

ul#menu li.selected
{ margin: 7px 0 0 0;
  background: #635B53 url(tabs.png) no-repeat 0 0px;}

ul#menu li.selected a, ul#menu li.selected a:hover
{ background: #635B53 url(tabs.png) no-repeat 100% 0px;
  color: #FFF;}

ul#menu li a:hover
{ color: #00C5EE;}

#site_content
{ margin-top: 10px;
  width: 90%;
  min-height: 400px;
  position: relative;
  overflow: hidden;}

.sidebar
{ float: right;
  border-style: groove;
  border-color: gray;
  border-width: thick;
  background-color: white;
  width: 15%;
  padding: 20px 15px 15px 15px;
}

#sidebar_title
{ font-size: 150%;}

#content
{ text-align: left;
  width: 100%;
  float: left;
  /*border-style: solid;
  border-color: red;*/
  padding: 20px 10px 15px 0px;}

#content_projects
{ text-align: left;
  width: 100%;
  float: left;
  padding: 20px 10px 15px 0px;}

#footer
{ width: 100%;
  font-family: sans-serif;
  font-size: 90%;
  height: 80px;
  padding: 20px 0px 4px 0px;
  /*margin-bottom: 20px;*/
  text-align: center;
  background: #313131;
  color: #A8AA94;
  border-top: 4px solid #00AFCE;
  text-transform: uppercase;
  letter-spacing: 0.1em;}

#footer a
{ color: #A8AA94;
  text-decoration: none;}

#footer a:hover
{ color: #FFF;
  text-decoration: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}

.project_box
{ height: 150px;
  width: auto;
  margin: 10px;
  position: relative;
  right: 0;
  align-self: center;
  overflow: hidden;
  cursor: pointer;
  color: #635B53;
  text-decoration: none;
  border-style: groove;
  border-color: black;
  border-width: thick;
  background-color: white;}

.project_box a:visited
{ color: #635B53;
  text-decoration: none;}

.project_box a
{ color: #635B53;
  text-decoration: none;}

.box_pic
{ height: 150px;
  width: 150px;
  float: left;}

.box_text
{ width: 82%;
  right: 5px;
  float: right;}

.project_text
{ font-size: 120%}

.code_snippet
{ height: auto;
  width: 30%;
  top: 20px;
  overflow: hidden;
  float: left;
  display: inline-block;
  font-family: Lucida Console;
  font-size: 70%;
  margin: 0px;
  position: relative;
  left: 0%;
  right: 0;
  align-self: center;
  /*border-style: groove;
  border-color: gray;
  border-width: thick;*/
  /*background-color: white;*/
  overflow: hidden;}

.main_page_div
{ width: 67%;
  top: 0;
  float: right;
  color: black;
  overflow: hidden;
  /*border-style: groove;
  border-color: black;
  display: inline-block;
  background-color: white;*/
  top: 0;}

.blog_page_div
{ width: 75%;
  top: 0;
  float: right;
  color: black;
  overflow: hidden;
  margin: 0px 10px 0px 0px;
  /*border-style: groove;
  border-color: black;
  display: inline-block;
  background-color: white;*/
  top: 0;}

.blog_page_div h1
{ font-size: 250%;}

#links
{ color: black;}
