<!DOCTYPE HTML>
<html>

<head>
  <title>Phil@Teoma</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main/style.css') }}" /> -->
  <link rel="stylesheet" type="text/css" href="/main_static/styles/style.css" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1 class="Title"><a class="index" href="http://teoma.org.uk">Phil at</a><span><a href="http://teoma.org.uk" class="logo_colour"> Teoma</span></a></h1>
          <!-- <h2>Simple. Contemporary. Website Template.</h2> -->
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="/">Home</a></li>
          <li class="selected"><a href="/projects">Projects</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/links">Cool Things</a></li>
          <!-- <li><a href="/about">About</a></li> -->
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      <div id="content_projects">
        <div class="project_box">
          <div class="box_pic">
            <a href="/gavbot"><img src="main_static/styles/gavbot_logo.jpg" alt="Gavbot Rising"></a>
          </div>
          <div class="box_text">
            <a href="/gavbot">
            <h2><u>GAVBOT RISING</u></h2>
            <p class="project_text">A choose-your-own adventure novel in which you must guide an escaped Gavbot on a long and perilous adventure
              through a dystopian future scotland. Features advanced concepts such as sessions, inventories, clickable
              buttons, and comedy. Written in Python.
            </a>
          </div>
        </div>
        <div class="project_box">
          <div class="box_pic">
            <a href="/neural_net"><img src="main_static/styles/neural_net_logo.png" alt="Neural Nets"></a>
          </div>
          <div class="box_text">
            <a href="/neural_net">
            <h2><u>Neural Net Generator</u></h2>
            <p class="project_text">A simple tool to build small neural nets, and train them to respond to data. Currently in alpha.
              Written in Python.
            </a>
          </div>
        </div>
        <div class="project_box">
          <div class="box_pic">
            <a href="/noble_hq"><img src="main_static/styles/crowning_logo.jpg" alt="Noble HQ"></a>
          </div>
          <div class="box_text">
            <a href="/noble_hq">
            <h2><u>NOBLE HQ</u></h2>
            <p class="project_text">Generate a set of bizarre nobles and watch your very own upper-class menagerie duke it out
              in the fields and manors of England. Written in Python. Currently in an alpha stage.
            </a>
          </div>
        </div>
        <div class="project_box">
          <div class="box_pic">
            <a href="/wiki_in_the_valley_o"><img src="main_static/styles/wiki_logo.jpg" alt="Wiki in the Valley O'"></a>
          </div>
          <div class="box_text">
            <a href="/wiki_in_the_valley_o">
            <h2><u>WIKI IN THE VALLEY O'</u></h2>
            <p class="project_text">A small app which plays the "Getting to Philosophy" game on wikipedia, then compiles the results
              into a classic irish folk song. More information on site itself. Written in Python.
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      <p>Copyright &copy; shadowplay_2 | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a></p>
    </div>
  </div>
</body>
</html>
